<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <title>Controlador de gastos financeiro</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Diego Nunes">
        <link rel="icon" href="/images/favicon.webp">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>