/**************************************
**
**  Author: Diego Nunes
**  Date: 06/30/2020
**
**************************************/

form{
    border: solid 3px #888;
    padding: 15px;
}

form.revenue{
    border: solid 3px #1e7e34;
}

form.expense{
    border: solid 3px #bd2130;
}

.img-button{
    width: 32px;
}